//- .avatar
//-   .img__wrap
//-     .avatar__img
//-       img.img__image(src="./assets/img/elem/my_ava.jpg", alt="")
//-   .avatar__titles
//-     h2.titles__name Шереверов Евгений
//-     h4.titles__desc Личный сайт веб разработчика