.fool-screen__menu
  .fool_screen__switch
    a(href="#").fool_screen__switch-link
      .fool-screen__switch_wrap
        .fool_screen__switch_one
        .fool_screen__switch_two
  .fool_screen__nav-menu
    nav.fool_screen__nav
      ul.fool_screen__list
        li.fool_screen__item
          a(href="" class="fool_screen__link") Мои работы
        li.fool_screen__item
          a(href="" class="fool_screen__link") Блог
        li.fool_screen__item
          a(href="" class="fool_screen__link") Обо мне
        li.fool_screen__item
          a(href="" class="fool_screen__link") Авторизация