footer.footer.footer__container
  .footer__row
    .footer__nav
      nav.nav
        ul.footer__nav_list
          li.footer__nav_item
            a(href="http://" class="footer__nav_link") Мои работы
          li.footer__nav_item
            a(href="http://" class="footer__nav_link") Обо мне
          li.footer__nav_item
            a(href="http://" class="footer__nav_link") Блог
          li.footer__nav_item
            a(href="http://" class="footer__nav_link") Авторизация
    .footer__socials
      ul.footer__socials_list
        li.footer__socials_item
          a(href="http://" class="footer__socials_link")
            svg.footer__socials_icon
                use(xlink:href="./assets/img/icons/sprite/sprite.svg#vk_round")
        li.footer__socials_item
          a(href="http://" class="footer__socials_link")
            svg.footer__socials_icon
                use(xlink:href="./assets/img/icons/sprite/sprite.svg#github_round")
        li.footer__socials_item
          a(href="http://" class="footer__socials_link")
            svg.footer__socials_icon
                use(xlink:href="./assets/img/icons/sprite/sprite.svg#in_round")
  .footer__row
    .footer__about
      .footer__about_text Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
    .footer__copyright
      .footer__copyright_text © Владимир Астахов | создано с любовью в LoftSchool | 2016