nav.nav
  .nav_menu
    ul.nav_menu__list
      li.nav_menu__item
        a.nav_menu__link(href="")
          span.nav_menu__title  Мои работы
      li.nav_menu__item
        a.nav_menu__link(href="")
          span.nav_menu__title Обо мне
      li.nav_menu__item
        a.nav_menu__link(href="")
          span.nav_menu__title Блог
      li.nav_menu__item
        a.nav_menu__link(href="")
          span.nav_menu__title Авторизация