.info__social
  ul.info__social-list.social-list
    li.info__social-item.social-item
      .social__link-block
      a.info__social-link.social-link(href="#")
        svg.social-link__icon
        use(xlink:href="./img/icons/sprite/sprite.svg#vk")
    li.info__social-item.social-item
      a.info__social-link.social-link(href="#")
      .social__link-block
        svg.social-link__icon
        use(xlink:href="./img/icons/sprite/sprite.svg#github")
    li.info__social-item.social-item
      .social__link-block
      a.info__social-link.social-link(href="#")
        svg.social-link__icon
        use(xlink:href="img/icons/sprite/sprite.svg#in")