.social
  ul.social-list.social-list
    li.social-item
      .social__link-block
        a.social-link(href="#")
          svg.social-link__icon.social-link__icon--white
            use(xlink:href="./assets/img/icons/sprite/sprite.svg#vk")
    li.social-item
      .social__link-block
        a.social-link(href="#")
          .social__link-block
            svg.social-link__icon.social-link__icon--white
              use(xlink:href="./assets/img/icons/sprite/sprite.svg#github")
    li.social-item
      .social__link-block
        a.social-link(href="#")
          svg.social-link__icon.social-link__icon--white
            use(xlink:href="./assets/img/icons/sprite/sprite.svg#in")