extends ../template.pug
include ./../config/_mixins.pug

block title
  title Блог

block content
  section.section.works-hero
    .container
      .bg-title.blog-hero__bg-title
        svg.bg-title__icon.bg-title__icon--portfolio(preserveAspectRatio="none")
          use(xlink:href="./assets/img/icons/sprite/sprite.svg#blog_header")
      .works-hero__socials
        include ./../common/_social-list.pug
      .works-hero__gamburger
        include ./../common/_gamburger_menu.pug
      .header__blog
        .avatar
        .img__wrap
          .avatar__img
            img.img__image(src="./assets/img/elem/my_ava.jpg", alt="")
        .avatar__titles
          h1(class="header__blog_titel") Блог
          h4(class="header__blog_text") Статьи, которые я написал
      .works-hero__arrow-down
        +arrow('arrow-down')
      .triangle
        .tiangle__left
          svg.tiangle__icon
            use(xlink:href="./assets/img/icons/sprite/sprite.svg#my_about_bg_left")
        .triangle__right
          svg.tiangle__icon
            use(xlink:href="./assets/img/icons/sprite/sprite.svg#my_about_bg_right")
  section.section
    .container.blog-container
      aside.blog-content
        ul.blog-content__list
          li.blog-content__item.blog-content__item_active
            a(href="#" class="blog-content__link") Самое важное в SASS
          li.blog-content__item
            a(href="#" class="blog-content__link") Приёмы в вёрстке, без которых не обходится ни один сайт
          li.blog-content__item
            a(href="#" class="blog-content__link") Самый необходимый набор Gulp плагинов
          li.blog-content__item
            a(href="#" class="blog-content__link") Почему я выбрал Pug
      main.blog-main
        .blog-main__main-content
          ul.main-content__list
            li.main-content__item
              .main-content__item-title
                +subSection-title('item-title__head', 'Самое важное в SASS')
              time(datetime="2016-11-22").main-content__item-date 22 ноября 2016
              .main-content__item-text
                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. 
                p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
            li.main-content__item
              .main-content__item-title
                +subSection-title('item-title__head', 'Приёмы в вёрстке, без которых не обходится ни один сайт')
              time(datetime="2016-11-13").main-content__item-date 13 ноября 2016
              .main-content__item-text
                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. 
                p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
            li.main-content__item
              .main-content__item-title
                +subSection-title('item-title__head', 'Самый необходимый набор Gulp плагинов')
              time(datetime="2016-11-13").main-content__item-date 13 ноября 2016
              .main-content__item-text
                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. 
                p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
            li.main-content__item
              .main-content__item-title
                +subSection-title('item-title__head', 'Почему я выбрал Pug')
              time(datetime="2016-11-13").main-content__item-date 13 ноября 2016
              .main-content__item-text
                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. 
                p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
