extends ../index_temp.pug

block title
  title Главная

block content
  .container.container__welcome
    .button__welcome
      button.button.button__login Авторизоваться
    .welcom__info
      .info__container
        .info__avatar
          include ./../common/_avatar
        .info__socials
          include ./../common/_social-list.pug
      .info__nav
        nav.nav
          .info__links
            ul.info__list
              li.info__item.info__item--works
                a.info__link(href="works.html")
                  .info__block Мои работы
              li.info__item.info__item--about-my
                a.info__link(href="about.html")
                  .info__block Обо мне
              li.info__item.info__item--blog
                a.info__link(href="blog.html")
                  .info__block Блог
