extends ../template.pug

block title
  title Мои работы

block content
  section.section.works-hero
    .bg-title.works-hero__bg-title
      svg.portfolio-header__icon
        use(xlink:href="./assets/img/icons/sprite/sprite.svg#portfolio_header")
    .works-hero__socials
      include ./../common/_social-list.pug
    .works-hero__gamburger
      include ./../common/_gamburger_menu.pug
    .works-hero__avatar
      include ./../common/_avatar
    .works-hero__arrow
      .arrow
        svg.arrow-down__icon
          use(xlink:href="./assets/img/icons/sprite/sprite.svg#arrow_down")
  section.section.works__main
    .main__title
      .triangle.main__title_triangle
        .triangle-left
          svg.triangle-left__icon
            use(xlink:href="./assets/img/icons/sprite/sprite.svg#about_bg_left")
        .triangle-right
          svg.triangle-right__icon
            use(xlink:href="./assets/img/icons/sprite/sprite.svg#about_bg_right")
      .main-bg.main__title_bg
        svg.main-bg__icon
          use(xlink:href="./assets/img/icons/sprite/sprite.svg#works_header")
      .main__title_title.section__title
        .left-dash
        .title__block
          h1.section__title Мои работы
        .right-dash
    .main__slider
      .slider__desc
        .slider__desc_container
          .slider__desc_title
          .slider__desc_technolgy
          .slider__desc_link
      .slider
        .slider-top
          .slider-top__slide
          .slider-top__slide
          .slider-top__slide
        .slider-bottom
          .slider-bottom__left
            .slider-bottom__overley.slider__down
              .left__slide
              .left__slide
              .left__slide
          .slider-bottom__right
            .slider-bottom__overley.slider__up
              .right__slide
              .right__slide
              .right__slide            
  section.section.about__main