extends ../template.pug

block title
  title Мои работы

block content
  section.section.hero
    .hero__socials
      include ./../common/_social-list.pug
    .hero__gamburger
      include ./../common/_gamburger_menu.pug
    .hero__avatar
      include ./../common/_avatar
  section.section
  section.section