.works-hero
  width: 100%
  height: 100%
  position: relative
  background-image: url("./../../assets/img/bg/works_bg.jpg")
  background-size: cover
  background-position: center center
  background-repeat: no-repeat

.works-hero__socials .social-link__icon--white
  fill: #fff
  transition: all .4s
  opacity: .5

  &:hover
    fill: #fff
    opacity: 1

.works-hero__bg-title
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  width: 100%
  height: 40%
  padding: 0 30px

.portfolio-header__icon
  width: 100%
  height: 100%

.works-hero__socials
  position: absolute
  left: 30px
  top: 30px

.works-hero__gamburger
  position: absolute
  right: 30px
  top: 30px

.works-hero__avatar
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.works-hero__avatar_name
  font-size: 28px
  font-weight: 500
  padding-bottom: 15px
  color: #fff


.works-hero__avatar_desc
  font-size: 16px
  font-weight: 500
  opacity: .8
  color: #fff

.works-hero__arrow-down, .works-hero__arrow-up
  position: absolute
  bottom: 75px
  left: 50%
  transform: translateX(-50%)

.triangle.main__title_triangle
  font-size: 0

.triangle-left, .triangle-right
  width: 50%
  display: inline-block

.triangle-left__icon
  fill: green

.triangle-right__icon
  fill: green

.works-hero__arrow-up
  transform: rotate(180deg)
  
.works-about
  position: relative