.wrapper
  width: 100%
  position: relative
  margin: 0 auto
  // overflow: hidden

.footer
  position: absolute
  left: 0
  bottom: 0
  right: 0

.container
  max-width: 100%
  margin: 0 auto

.bg-title
  fill: #fdfdfd
  opacity: .08
  text-align: center

.section__title
  font-size: 63px
  font-family: 'bernier', serif
  font-weight: 400
  color: #373e42
  text-align: center

.sub-section__title
  font-size: 35px
  font-family: 'bernier', serif
  font-weight: 400
  color: #455a64
  text-align: center